greenlet==3.3.1
numpy==2.4.2
pandas==3.0.0
polars==1.38.1
polars-runtime-32==1.38.1
psycopg2==2.9.11
pyarrow==23.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
six==1.17.0
SQLAlchemy==2.0.46
typing_extensions==4.15.0
